@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    background-image: url(background.jpg);
    background-color: #0b0e11;
    color: #c1c1c1;
    font-family: 'Press Start 2P', cursive;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

p {
    font-size: 2em;
}
